body, html {
    height: 100%;
    background-size: cover;
    font-family: Poppins-Regular, sans-serif;
    background-image: url('../images/slide1.jpg');
}

input {
	outline: none;
	border: none;
}

input[type="number"] {
    -moz-appearance: textfield;
    appearance: none;
}

button {
	outline: none !important;
	border: none;
	background: transparent;
}

button:hover {
	cursor: pointer;
}

iframe {
	border: none !important;
}

.txt3 {
  font-family: Poppins-Regular;
  font-size: 20px;
  color: white;
  line-height: 1.4;
  padding-right: 10px;
}
.hov1:hover {
  color: white;
}

.limiter {
  width: 100%;
  margin: 0 auto;
}

.container-login100 {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
}


.wrap-login100 {
  width: 360px;
  min-height: 100vh;
  background: black;
  border-radius: 2px;
  position:absolute;
  top:20%;
  left: 40%;
  padding: 30px 20px;
}

/*------------------------------------------------------------------
[ Login100 more ]*/
.login100-more {
  background-image: url('../images/slide1.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: calc(100% - 450px);
  position: relative;
  z-index: 1;
}

.login100-more::before {
  display: block;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0.5;
}


.login100-form {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.login100-form-title {
  display: block;
  width: 100%;
  font-family: Poppins-Bold;
  font-size: 39px;
  color: white;
  line-height: 2;
  text-align: center;
}

.wrap-input100 {
  width: 100%;
  position: relative;
  border-bottom: 2px solid #dbdbdb;
  margin-bottom: 25px;
  color:white;
}

.label-input100 {
  font-family: Poppins-SemiBold;
  font-size: 18px;
  color: white;
  line-height: 1.2;
  padding-left: 2px;
}

.input100 {
  display: block;
  width: 100%;
  height: 50px;
  background: transparent;
  font-family: Poppins-Regular;
  font-size: 22px;
  color: #f8f9fa;
  line-height: 1.2;
  padding: 0 2px;
}



.container-login100-form-btn {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.wrap-login100-form-btn {
  display: block;
  position: relative;
  z-index: 1;
  border-radius: 25px;
  overflow: hidden;
}

.login100-form-bgbtn {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 300%;
  background: #721c24;
  bottom: -100%;
  left: 0;

}

.login100-form-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  min-width: 244px;
  height: 50px;
  font-family: Poppins-Medium;
  font-size: 16px;
  color: white;
  line-height: 1.2;
}
.avatar{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
}
