{% extends 'Committee/base.html' %}
{% load static %}

{% block Head %}
    <div><title>Chat With Friend</title></div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{% static '/Committee/css/chat.css' %}">
{% endblock %}

{% block User %}
    {{ User.FullName }}
{% endblock %}

{% block Body %}
    <div>
        <div id="chat-body" class="panel panel-default">
            <div class="panel-heading">Start Chatting</div>
            <div id="msg-list-div" class="panel-body">
                <ul id="msg-list" class="list-group">
                    {% for obj in chat %}
                        {% if obj.user.Username == "Robot" %}
                            <li class="list-group-item-item" style="font-size:20px;color:red">
                                <center>{{ obj.message }}</center>
                            </li>

                        {% elif obj.user == request.user and obj.user.Username != "Robot" %}
                            <li class="text-right list-group-item">{{ obj.user.Username }}
                                {{ "::" }}{{ obj.message }}</li>
                        {% else %}
                            <li class="text-left list-group-item">{{ obj.user.Username }}
                                {{ "::" }}{{ obj.message }}</li>
                        {% endif %}
                    {% empty %}
                        <li class="text-right list-group-item">No more messages</li>
                    {% endfor %}

                    <script>
                        var chatlist = document.getElementById('msg-list-div');
                        chatlist.scrollTop = chatlist.scrollHeight;
                    </script>
                </ul>

            </div>
        </div>

        <form id="chat-form" method="post" action="{% url 'post' %}">
            {% csrf_token %}
            <div id="chat-bottom" class="input-group">
                <input type="text" id="chat-msg" name="chat-msg" class="form-control"/>
                <span class="input-group-btn">
            <div>
                <input class="btn btn-primary" id="send" type="submit" value="Send"/>
            </div>
            </span>
            </div>
        </form>
    </div>
{% endblock %}

{% block Html %}
    <script src="{% static '/Committee/js/chat.js' %}"></script>
{% endblock %}